<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear producto</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="/styles/centerbody.css" rel="stylesheet" />
    <link href="/styles/productform.css" rel="stylesheet" />
  </head>

  <% productos = data.data %>

  <body>
    <form
      id="form"
      enctype="multipart/x-www-form-urlencoded"
      action="/api/productos"
      method="POST"
    >
      <div class="form-group">
        <label for="name">Nombre del producto</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Ingrese el nombre del producto"
          name="name"
        />
      </div>
      <div class="form-group">
        <label for="image">Imagen</label>
        <input
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Ingrese una url"
          name="image"
        />
      </div>
      <button id="submitProduct" type="submit" class="btn btn-primary">
        Submit
      </button>
    </form>

    <br>

    <table id="table" class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody id="rowContainer">
          <% productos.forEach(p => { %>
        <tr>
          <td><%=p.name%></td>
          <td><%=p.image%></td>
        </tr>
        <% }) %>
      </tbody>
    </table>

    <form id="chat" class="chat">
      <ul id="chatMessages" class="chat_messages">
        
      </ul>
      <input name="email" type="email" placeholder="Email..."><input name="text" type="text" placeholder="Mensaje..."><input type="submit" value="Enviar">
    </form>

    <a href="/">Inicio</a>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/io.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
